<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>

        <div class="component-1">
            <div class=""
            style="background: #FFFFFF">
            <div style="   
             display: flex;
            margin-left: 5%;
            margin-right: 5%;
            align-items: center;">
                  <p class="decode-blog" >Decode Blog</p>
                  <div class="group-29"></div>
                  <div class="group-29"></div>
                  <div class="group-28">
                      <input placeholder="Поиск по блогам" class="poisk-po-blogam"></input>
  
                      <button class="najtiButton">
                          <img src="images/Vector.png" class="najti"/>
  
                          Найти
                      </button>
                  </div>
             
             
              <div class="group-29"></div>
              <div class="group-27">
                  <p class="registracija">
                    <button class="najtiButton">
                    Регистрация
                  </button>
                </p>
              </div>
              <div class="group-26">
                <button class="najtiButton">
                <p class="registracija " style="    align-items: center;">Вход</p>
                  </button>
              </div>
          </div>
        </div>

        <div class="flex-wrapper-three">
            <div class="box-main">
                <div style="width: 80%;background: #FFFFFF;
                              margin: 0px 1%;">
                    <div class="card">
                        <!-- <div class="" style="display: flex;
                        align-items: center;
                        justify-content: space-between!important;">
                            <div class="">
                                Мои блоги
                            </div>
                            <div  >
                                <button class="najtiButton">Новый блог</button>

                            </div>
                        </div> -->
                        <!-- Обзор Report Manager от Webix -->

                        <img alt="" class="image-1" src="https://static.overlay-tech.com/assets/c869dee6-4291-47ec-a385-458529084a23.png"/>
                           
                           <div class="" style="display: flex;
                            align-items: center;
                            justify-content: space-between!important;">
                                <div class="">
                                    Обзор Report Manager от Webix
                                </div>
                                <div  >
                                   


                                    <div class="dropdown">
                                        <img src="images/dotted.png" alt="">
                                        Еще
                                        <div class="dropdown-content">
                                          <!-- <p>Hello World!</p> -->
                                          <p style="">Редактировать</p>
                                          <p style="color: red;">Удалить</p>
                                        </div>
                                      </div>
    
                                </div>
                            </div>
                           
                        <div class="article">
                            
                            <p class="osen-2020-goda-stala-plodotvornym-vreme">
                                Осень 2020 года стала плодотворным временем для
                                            специалистов Webix.
                                <br/>
                                <br/>
                                Команда Webix выпустила восьмую версию
                                            библиотеки пользовательского интерфейса Webix с
                                            двумя новыми комплексными виджетами. Первый -
                                            зто Scheduler, о котором мы подробно говорили
                                            ранее. Второй виджет - это Gantt chart в
                                            JavaScript. Подробную информацию об этом виджете
                                            Вы можете найти в статье.
                                <br/>
                                <br/>
                                Ноябрь продолжает тенденцию, и мы спешим
                                            поделиться с Вами новым комплексным виджетом
                                            Report Manager. Давайте рассмотрим его
                            </p>


                            <p style="font-family: Roboto,sans-serif;
                            font-size: 28px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            ">
  
                            Что такое комплексные виджеты Webix?
  
                            </p>

                            <p class="osen-2020-goda-stala-plodotvornym-vreme">
                                В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                                <br/>
                                <br/>
                                Они уже готовы к интеграции в Ваше бизнес-приложение, что позволяет экономить рабочее время программистам. Это визуальное воплощение концепции low-code платформы, которой является Webix. Комплексные виджеты Webix сразу же готовы к работе, потому что они содержат функциональный фронт-энд слой и, при необходимости, снабжены различными опциями для бэк-энда. 

                                Гибкая архитектура Webix позволяет легко настраивать эти приложения, расширять их функциональность и интегрировать в существующие решения.
                                
                                <br/>
                            
                            </p>
                            <p style="font-family: Roboto,sans-serif;
                            font-size: 28px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            ">
                            
                            2 комментария
                            </p>


                            <br>

                            <p style="font-family: Roboto,sans-serif;
                            font-size: 28px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            ">
                            
                           <img src="images/avatar.png" alt=""  width="73" height="73" style="padding: 30px;">
                              Елнур Сеитжанов</img>
                                  

                            </p>
                            <p class="osen-2020-goda-stala-plodotvornym-vreme">
                            В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                            </p>
                            <hr>
                            <!-- Second coment----------------------- -->

                            <br>

                            <p style="font-family: Roboto,sans-serif;
                            font-size: 28px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            ">
                            
                           <img src="images/avatar.png" alt=""  width="73" height="73" style="padding: 30px;">
                              Елнур Сеитжанов</img>
                                  

                            </p>
                            <p class="osen-2020-goda-stala-plodotvornym-vreme">
                            В отличие от обычных виджетов пользовательского интерфейса JavaScript, комплексные виджеты - это полноценные приложения, которые не требуют дополнительной настройки и кастомизации.
                            </p>



                            <div style="  width: 100%; ">
                                <p style="background: #FFF3CD;height: 90px;
                                display: flex;
                                align-items: center;">
                                    Чтобы оставить комментарий  <a href="">зарегистрируйтесь</a>, или <a href=""> войдите</a> в аккаунт.
                                
                            </p>
                               
                            </div>

                       

                            <!-- <div class="box">
                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img src="images/calendar.png"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">26.06.2020</p>
                                    </div>

                                </div>


                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img src="images/eye.png"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">21</p>
                                    </div>

                                </div>


                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img alt="" class="message" src="https://static.overlay-tech.com/assets/27ff86e9-732f-4068-87e7-3a5384fa319d.svg"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">4</p>
                                    </div>

                                </div>


                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img alt="" class="forums" src="https://static.overlay-tech.com/assets/32823ebb-3477-4992-9bf0-0b01dbc2b3eb.svg"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">Веб-разработка</p>
                                    </div>

                                </div>

                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img src="images/user.png"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">Nast1289</p>
                                    </div>

                                </div>


                            </div> -->


                        </div>
                    </div>

                    <!--Card2 ---------------------------------------------------------------------------- -->
                    <!-- <div class="card">
                      <div class="title">
                        <img alt="" class="image-1" src="images/img2.png"/>  
                       
                       
                      </div>
                      <div class="article">
                        <p style="font-family: Roboto,sans-serif;
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">
                        Разработчики изобрели методологию высокоскоростного программирования
                      </p>
                          <p class="osen-2020-goda-stala-plodotvornym-vreme">
                              Осень 2020 года стала плодотворным временем для
                                          специалистов Webix.
                              <br/>
                              <br/>
                              Команда Webix выпустила восьмую версию
                                          библиотеки пользовательского интерфейса Webix с
                                          двумя новыми комплексными виджетами. Первый -
                                          зто Scheduler, о котором мы подробно говорили
                                          ранее. Второй виджет - это Gantt chart в
                                          JavaScript. Подробную информацию об этом виджете
                                          Вы можете найти в статье.
                              <br/>
                              <br/>
                              Ноябрь продолжает тенденцию, и мы спешим
                                          поделиться с Вами новым комплексным виджетом
                                          Report Manager. Давайте рассмотрим его
                          </p>

                          <p style="font-family: Roboto,sans-serif;
                          font-size: 28px;
                          font-weight: 400;
                          line-height: 24px;
                          letter-spacing: 0em;
                          text-align: left;
                          ">

                          Что такое комплексные виджеты Webix?

                          </p>


                          <div class="box">
                              <div class="box">
                                  <div style="width: 20%;padding: 10px;">
                                      <img src="images/calendar.png"/>
                                  </div>

                                  <div style="width:80%">
                                      <p class="">26.06.2020</p>
                                  </div>

                              </div>


                              <div class="box">
                                  <div style="width: 20%;padding: 10px;">
                                      <img src="images/eye.png"/>
                                  </div>

                                  <div style="width:80%">
                                      <p class="">21</p>
                                  </div>

                              </div>


                              <div class="box">
                                  <div style="width: 20%;padding: 10px;">
                                      <img alt="" class="message" src="https://static.overlay-tech.com/assets/27ff86e9-732f-4068-87e7-3a5384fa319d.svg"/>
                                  </div>

                                  <div style="width:80%">
                                      <p class="">4</p>
                                  </div>

                              </div>


                              <div class="box">
                                  <div style="width: 20%;padding: 10px;">
                                      <img alt="" class="forums" src="https://static.overlay-tech.com/assets/32823ebb-3477-4992-9bf0-0b01dbc2b3eb.svg"/>
                                  </div>

                                  <div style="width:80%">
                                      <p class="">Веб-разработка</p>
                                  </div>

                              </div>

                              <div class="box">
                                  <div style="width: 20%;padding: 10px;">
                                      <img src="images/user.png"/>
                                  </div>

                                  <div style="width:80%">
                                      <p class="">Nast1289</p>
                                  </div>

                              </div>


                          </div>


                      </div>
                  </div> -->
                </div>


                <div style="width: 20%;background: #FFFFFF;margin-right: 10px;">
                    <div
                        class="cards-blank">
                        <!-- Include here the component "CardsBlank" -->
                        <p class="kategorii">Категории</p>
  
                        <p class="prognozy-v-it">Прогнозы в IT</p>
                        <div class="line-2"></div>
                        <p class="prognozy-v-it">Веб-разработка</p>
                        <div class="line-3"></div>
                        <p class="prognozy-v-it">
                            Мобильная разработка
                        </p>
                        <div class="line-4"></div>
                        <p class="prognozy-v-it">Фриланс</p>
                        <div class="line-5"></div>
                        <p class="prognozy-v-it">Алгоритмы</p>
                        <div class="line-6"></div>
                        <p class="prognozy-v-it">
                            Тестирование IT систем
                        </p>
                    </div>
  
                  </div>
                
       
            </div>
        </div>


       
                <!-- <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/217a8777-d638-4edd-9084-0293a36069e0.png"/> -->
            </div>
        </body>
    </body>
</html>
