<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <form action="/api/signout/" method="POST">
            <input type="hidden" id="id" name="id" value="<%= user._id %>">
            <button type="submit">Delete Film</button>
          </form>
    </body>
</html></div><!-- <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/217a8777-d638-4edd-9084-0293a36069e0.png"/> --></div></body></body></html>

