<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>

        <div class="component-1">
            <div class="" style="background: #FFFFFF">
                <div style="
                                     display: flex;
                                    margin-left: 5%;
                                    margin-right: 5%;
                                    align-items: center;">
                    <p class="decode-blog">Decode Blog</p>
                    <div class="group-29"></div>
                    <div class="group-29"></div>
                    <div class="group-28">
                        <input placeholder="Поиск по блогам" class="poisk-po-blogam"></input>

                    <button class="najtiButton">
                        <img src="/images/Vector.png" class="najti"/>

                        Найти
                    </button>
                </div>


                <div class="group-29"></div>
                <div class="group-27">
                    <p class="registracija">
                        <button class="najtiButton">
                            Регистрация
                        </button>
                    </p>
                </div>
                <div class="group-26">
                    <button class="najtiButton">
                        <p class="registracija " style="    align-items: center;">Вход</p>
                    </button>
                </div>
               
            </div>
        </div>

        <div class="flex-wrapper-three" style="padding: 0px 0 0 0px;">
            <div class="box-main" style="width: 100%;">
                <div style="width: 100%;  margin: 0px 1%; display: flex; justify-content: center;">
                    <div>
                       
                            <h3 style="text-align: center;">Вход</h3>
                            </div>
                            <br>
                            <form action="/api/signin/" method="POST" class="form">
                            <div>

                                <input type="text" placeholder="Введите почту" name="email" style="   background-color: #FFFFFF; height: 20px;
                                                          width: 100%;"/>
                                 <input type="text" placeholder="Введите пароль" name="password" style="   background-color: #FFFFFF; height: 20px;
                                 width: 100%;"/>

                            </div>
                            
                            <br>
                            <button class="" type="submit" style="width: 105%;background-color: #00A2DC;color: white;">Войти</button>
                            </form>
                            
                    </div>
                    

                </div>
        


            </div>
            <div style="display: flex; justify-content: center;">
                <a  href="/api/auth/github">Github</a>
            </div>
       


        </div>
    </body>
</html></div><!-- <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/217a8777-d638-4edd-9084-0293a36069e0.png"/> --></div></body></body></html>

